<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OptionServlet</servlet-name>
        <servlet-class>OptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawAmount</servlet-name>
        <servlet-class>WithdrawAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositAmount</servlet-name>
        <servlet-class>DepositAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>Account.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>deleteservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>editServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayServlet</servlet-name>
        <servlet-class>displayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNameServlet</servlet-name>
        <servlet-class>ChangeNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptionServlet</servlet-name>
        <url-pattern>/OptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawAmount</servlet-name>
        <url-pattern>/WithdrawAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositAmount</servlet-name>
        <url-pattern>/DepositAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/editServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayServlet</servlet-name>
        <url-pattern>/displayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNameServlet</servlet-name>
        <url-pattern>/ChangeNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
